.perosons {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font:  150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }
 thead {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #4c4c4c;
 }

 .inbody {
  background-color: #e0e0e0;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #4c4c4c;
 }
}